{% extends "@HappyrGoogleSiteAuthenticator/base.html.twig" %}

{% block content %}

    <div id="description-wrapper">
        <h1>Google site authentication</h1>
        <p>This is a page for the site admin where you manage the authentication tokens. Below
        is a table over the configured tokens. </p>

        <p>When clicking on "Authenticate" we will ask for the permissions you specified in the <i>scopes</i> config
            and then store an authentication access token until it is revoked by you. The authentication access token
            will be stored with the cache service you provided in the <i>happyr_google_site_authenticator.cache_service</i>.
            If the cache is cleared you need to re-authenticate the tokens.</p>

        <p>You can remove a token from the cache by clicking "Remove". If you want the token to be invalidated you may
            press "Revoke". This will affect all sites using this token. </p>
    </div>


    <div id="flash-wrapper">
        {% for flashMessage in app.session.flashbag.get('msg') %}
            <div class="flash success">
                {{ flashMessage|trans }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash error">
                {{ flashMessage|trans }}
            </div>
        {% endfor %}
    </div>

    <hr />

    <table id="token-table">
        <tr>
            <th class="token-name">Token name</th>
            <th class="token-status">Status</th>
            <th class="token-action">Action</th>
        </tr>
        {% for name,token in tokens %}
            <tr>
                <td>{{ name }}</td>
                <td>{% if token %}Valid{% else %}Missing{% endif %}</td>
                <td>
                    {% if token %}
                        <a href="{{ path('happyr.google_site_authenticator.remove', {name:name}) }}">Remove</a> |
                        <a style="color:red" href="{{ path('happyr.google_site_authenticator.revoke', {name:name}) }}">Revoke</a>
                    {% else %}
                        <a href="{{ path('happyr.google_site_authenticator.authenticate', {name:name}) }}">Authenticate</a>
                    {% endif %}
                </td>
            </tr>

        {% endfor %}
    </table>

    <hr />

    <p>
      If you have questions, read the <a href="https://github.com/Happyr/GoogleSiteAuthenticatorBundle">documentation</a>
        or open a issue on <a href="https://github.com/Happyr/GoogleSiteAuthenticatorBundle/issues">Github</a>.
    </p>

{% endblock %}
